.appfooter {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #929f9e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logo{
  margin: 0 8px;
}
