.semiModal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.in {
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.out {
  animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.bgmask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(2px);
}
.semiwrap {
  display: flex;
  position: absolute;
  width: 350px;
  height: 363px;
  bottom: 7px;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  background: #fefdfd;
  border: 1px solid #d7d7e0;
  border-radius: 12px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.walleticon {
  margin-right: -200px;
  width: 124px;
  height: 138px;
}

.btcicon {
  width: 129px;
  height: 103px;
}

.semiimg {
  height: 114px;
  width: 100%;
}

.semiimg img {
  display: inline-block;
  max-width: fit-content;
  vertical-align: baseline;
}

.semidonatebtn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0px;
  width: 292px;
  height: 41px;
  background: #396aff;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  padding: 0px 47px;
}

.semidonatebtn svg,
.donate3btn svg {
  animation: 'loading' 3s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
