.wrap{
  cursor: pointer;
}
.normalmode .total{
  margin-right: -14px;
  text-align: center;
}

.donateuserdec{
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #929F9E;
  margin-top: 15px;
}

.donateusers{
  display: flex;
}

.normalmode{
  margin-top: 22px;
}
