
.normalmode .donateuseravatar{
  width: 40px;
  height: 40px;
  margin-right: -14px;
  line-height: 36px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.donateuserdec{
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #929F9E;
  margin-top: 15px;
}

.donateusers{
  display: flex;
}

.normalmode{
  margin-top: 22px;
}
