.wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 12px;
  box-sizing: border-box;
  justify-content: space-around;
}

.img {
}

.btn {
  width: 292px;
  height: 41px;
  background: #a5d423;
  border-radius: 4px;
  border: 0px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: #086bff;
}

.hashTxt {
  color: #086bff;
  cursor: pointer;
  margin-left: 6px;
}
