  @keyframes donate3show{
    from {
        transform: translateY(110%);
    }
    to {
        transform: translateY(0%);
    }
  }

  @keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


  @media (prefers-reduced-motion: no-preference) {
    :global(.dialogAnimation) {
      animation: slide-in-up .5s cubic-bezier(.25,0,.3,1) forwards;
      animation-timing-function: ease;
      animation-name: donate3show;
    }

    :global(.dialogAnimation[open]) {
      animation: 2 forwards;
    }
  }


  :global(.ufo){
    background-color: red;
  }


.app {
  text-align: center;
  width: 366px;
  height: 608px;
  background: #fefcfb;
  box-shadow: 0 8px 24px -6px rgb(0 0 0 / 16%), 0 0 1px rgb(0 0 0 / 40%);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  position: fixed;
  z-index: 1000;
  /* animation: donate3show 1s ease normal; */
  transition: opacity .5s var(--ease-3);
  box-sizing: border-box;
}

.tinymode {
  position: absolute;
  width: 173px;
  height: 65px;
  right: 20px;
  bottom: 20px;
  background: #396aff;
  box-shadow: 0 8px 24px -6px rgb(0 0 0 / 16%), 0 0 1px rgb(0 0 0 / 40%);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tinyimg {
  width: 25px;
  height: 25px;
  color: #fff;
  margin-right: 12px;
}

.tinytxt {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}

.applogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .applogo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.applink {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* input::placeholder {
  color: #c1cbca;
  opacity: 1;
} */

.close {
  width: 65px;
  height: 65px;
  background: #396aff;
  box-shadow: 0 8px 24px -6px rgb(0 0 0 / 16%), 0 0 1px rgb(0 0 0 / 40%);
  border-radius: 100px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}




.closeimg {
  width: 21px;
  height: 21px;
}

.hidden{
  display: none;
}




.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    /* background-color: #fff; */
    /* color: #777; */
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    /* background-color: #fff; */
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 0.2s ease-out;
    animation-fill-mode: backwards;
}

