.app {
  text-align: center;
  width: 366px;
  height: 608px;
  background: #fefcfb;
  box-shadow: 0 8px 24px -6px rgb(0 0 0 / 16%), 0 0 1px rgb(0 0 0 / 40%);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  position: fixed;
}

.tinymode {
  position: absolute;
  width: 173px;
  height: 65px;
  right: 20px;
  bottom: 20px;
  background: #396aff;
  box-shadow: 0 8px 24px -6px rgb(0 0 0 / 16%), 0 0 1px rgb(0 0 0 / 40%);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tinyimg {
  width: 25px;
  height: 25px;
  color: #fff;
  margin-right: 12px;
}

.tinytxt {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}

div {
  font-style: normal;
}

.applogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .applogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.appfooter {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #929f9e;
  display: flex;
  justify-content: center;
}

.applink {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

input::placeholder {
  color: #c1cbca;
  opacity: 1;
}

.close {
  width: 65px;
  height: 65px;
  background: #396aff;
  box-shadow: 0 8px 24px -6px rgb(0 0 0 / 16%), 0 0 1px rgb(0 0 0 / 40%);
  border-radius: 100px;
  position: absolute;
  left: 83%;
  top: 102%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeimg {
  width: 21px;
  height: 21px;
}
