.header {
    /* background-color: #282c34; */
    /* min-height: 100vh; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Avatar{
    height: 65px;
    width: 65px;
    border-radius: 65px;
    margin: 0px 13px;
  }
  
  .RecipientInfo{
    width: 80%;
    text-align: start;
  }
  .RecipientInfo div:nth-child(1){
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #3E4343;
  }
  .RecipientInfo div:nth-child(2){
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #929F9E;
  }