.wrap {
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0;
  right: 0;
  background: white;
  border-bottom: 1px solid #ECECEF;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 25px;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(2px);

}

.content {
  border-radius: 12px;
  width: 316px;
  border-bottom: 1px solid #ECECEF;
  background: white;
  overflow: hidden;
  height: 100%;
}

.header {
  height: 275px;
  background: #396AFF;
}

.top {
  display: flex;
  position: relative;
  height: 236px;
  padding: 0 20px;
}

.top div.topitem:nth-child(2) {
  margin-top: -80px;
}

.top div.topitem:nth-child(3) {
  margin-top: 30px;
}

.top .bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  left: 0;
  right: 0;
}

.top svg {
  transform: scale(1);
}


.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 25px;
  cursor: pointer;
}

.titletxt {
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;
}

.topitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  flex: 1;
}

.topimg {
  margin-bottom: 50px;
  cursor: pointer;
}

.amount {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  line-height: 12px;
}

.unit {
  font-weight: 600;
  font-size: 10px;
  color: #000000;
}


.count {
  font-weight: 400;
  font-size: 10px;
  color: #929F9E;
}

.topcontent {
  background: url(../../images/sortbg.svg);
}

.list {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 58px);
  flex-wrap: wrap;
  padding: 13px;
}

.itemavatar {
  width: 40px;
  height: 40px;
  margin: 10px 9px;
}

.lastavatar {
  margin: 10px 9px;
}