@keyframes blowUpModal {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform:scale(1);
    opacity:1;
  }
  100% {
    transform:scale(0);
    opacity:0;
  }
}

.appcontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  margin: 8px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #3e4343;
  text-align: initial;
}

.methodinput {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  overflow: hidden;
}

.methodinput div {
  background: rgb(26 56 96 / 8%);
  height: 40px;
  line-height: 40px;
  flex: 1;
}

.methodinput input {
  height: 40px;
  padding: 0 12px;
  border: 0;
  background: rgb(26 56 96 / 8%);
}

.cointxt{
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  flex:5 !important;
}

.cointxt svg{
  margin: 0 15px;
}

.cointxt span:nth-child(2){
  font-weight: 500;
  color: #3E4343;
}

.cointxt span:nth-child(3){
  font-weight: 400;
  color: #C1CBCA;
  margin: 0 15px;
}

.switch{
  flex:1 !important;
  line-height: 47px !important;
  cursor: pointer;
}

.footermark {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  color: #929f9e;
  justify-content: space-around;
  margin-top: 6px;
}

.shortcutoption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.shortcutoption div {
  width: 30%;
  height: 40px;
  background: #ececef;
  border-radius: 4px;
  align-items: center;
  line-height: 40px;
  box-sizing: border-box;
}

.shortcutoption div:hover {
  border: 2px solid  #396AFF;
  cursor: pointer;
}

.shortcutoption .active{
  border: 2px solid  #396AFF;
  cursor: pointer;
}

.fieldset {
  border: none;
  padding: 0;
  border-top: 0.5px #ececef solid;
  text-align: center;
}

.fieldset legend {
  padding: 0 10px;
  color: #ececef;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.pricebtn {
  background: rgb(26 56 96 / 8%);
  border-radius: 4px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  /* color: #c1cbca; */
  border: 0;
  text-align: center;
  box-sizing: border-box;
  width: 306px;
}

.msg div {
  text-align: initial;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #3e4343;
  margin-bottom: 8px;
}

.msg textarea {
  height: 96px;
  width: 100%;
  border: 0;
  background: rgb(26 56 96 / 8%);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
  box-sizing: border-box;
}

.msg textarea::placeholder{
  font-weight: 400;
  font-size: 16px;
  color: #C1CBCA;
}

.donate3btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;;
  align-items: center;
  height: 41px;
  background: #396aff;
  border-radius: 4px;
  cursor: pointer;
  border: 0px;
  padding: 0 47px;
}
.donate3btn svg{
  animation: loading 3s linear infinite;
}
.donate3btn:disabled{
  background-color: #D7D7E0;
}
.donate3btn:hover{
  background: #1f93ff;
}

.donate3btn div:nth-child(1) {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #fff;
}

.donate3btn div:nth-child(2) {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: rgb(255 255 255 / 50%);
}

@keyframes loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

