.header {
  /* background-color: #282c34; */

  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.avatar {
  height: 65px;
  width: 65px;
  border-radius: 65px;
  margin: 0 13px;
}

.recipientinfo {
  width: 80%;
  text-align: start;
}

.recipientinfo div:nth-child(1) {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #3e4343;
}

.recipientinfo div:nth-child(2) {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #929f9e;
}
