.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.avatarwrap{
  position: relative;
  cursor: pointer;
}

.avatarwrap .total{
  position: absolute;
  left: 40px;
  top: 40px;
  font-weight: 600;
  font-size: 10px;
}

.avatar {
  height: 65px;
  width: 65px;
  border-radius: 65px;
  min-width: 65px;
}

.normalmode .avatar{
  height: 90px;
  width: 90px;
  min-width: 90px;
  margin-bottom: 22px;
}

.recipientinfo {
  text-align: start;
  overflow: hidden;
  flex: 1;
}

.normalmode .recipientinfo{
  text-align: center;
}

.normalmode .recipientinfo div{
  margin: 2px 0px;
}

.recipientinfo div:nth-child(1) {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #3e4343;
}

.recipientinfo div:nth-child(2) {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #929f9e;
}


.normalmode {
  flex-direction: column !important;
}
.normalmode :nth-child(1) { order: 2; }
.normalmode :nth-child(2) { order: 1; }
.normalmode .recipientinfo{
  margin-bottom: 45px;
}

.fieldset {
  border: none;
  padding: 0;
  border-top: 0.5px #ececef solid;
  text-align: center;
}

.fieldset legend {
  color: #ececef;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.normalmode .fieldset{
  width: 422px;
}
